<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>adminpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<div class="login_header">
    <header>
<p>This is adminpage</p>

    </header>
</div>


< <form method="post">
    <table class="order-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Order id</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orderList}">
            <td th:text="${order.userId}">User</td>
            <td th:text="${order.orderId}">Order id</td>
            <td th:text="${order.finalPrice}">Price</td>

            <td>
                <div class="button">
                    <button type="submit" name="orderId" th:value="${order.orderId}" formaction="/deleteorder">Delete
                    </button>
                </div>
            </td>
        </tr>

        </tbody>

    </table>
</form>
</div>

</body>
</html>
