<!DOCTYPE html>

</head>


<body>
<div class="page">

    <a href="index.html" class="banner" th:href="@{/}"><h2>Cupcake</h2></a>
</div>


<div class="login-container">
    <div class="create">

        <h1>Create User</h1>
        <form class="create-form" method="post">
            <input type="text" name="username" placeholder="Enter Email"/>
            <input type="password" name="password1" placeholder="Enter your password"/>
            <input type="password" name="password2" placeholder="Enter your password again"/>

            <button class="btn-ok" type="submit" formaction="/createuser">Create user</button>
            <div><p th:text="${message}"></p></div>
        </form>
    </div>
    <div>
        <a class="logout-link" th:if="${session.currentUser != null}" href="index.html" th:href="@{/logout}">Logout</a>
    </div>
</div>
</body>
</html>