<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestil cupcakes</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #DDAE82;
        }
    </style>
    <a href="index.html" class="banner" th:href="@{/}"><h2>Cupcake</h2></a>
</head>
<body>


<div class="container-wrapper-menupage">
    <div class="order-container-menupage">
        <h2 class="order-header-menupage">Skab din cupcake!</h2>
        <form action="/order" method="post" class="order-form">
            <div class="form-group-menupage">
                <label for="bottom">Bund:</label>
                <select name="bottom" id="bottom">
                    <option th:each="bottom : ${bottomsList}"
                            th:value="${bottom.bottom}"
                            th:text="${bottom.bottom} + ' - ' + ${bottom.bottomPrice + ' kr'}"></option>
                </select>
            </div>
            <div class="form-group-menupage">
                <label for="top">Top:</label>
                <select name="top" id="top">
                    <option th:each="top : ${topList}"
                            th:value="${top.top}"
                            th:text="${top.top} + ' - ' + ${top.topPrice + ' kr'}"></option>
                </select>
            </div>
            <div class="form-group-menupage">
                <label for="quantity">Antal:</label>
                <input type="number" name="quantity" id="quantity" min="1" value="1">
            </div>
            <input type="submit" value="Tilføj til kurv">
        </form>
    </div>
    <div class="form-group-basket">
        <h2>Indkøbskurv</h2>
        <ul>
            <li th:each="item : ${cart}" th:text="${item}"></li>
        </ul>

       <ul class="form-group-basket-totalpris">
           <p>Total pris: <span th:text="${totalPrice}"></span> kr</p>
       </ul>
        <form action="/betaling" method="get">
            <button type="submit">Gå til betaling</button>
        </form>
    </div>
</div>
</body>
</html>